.goToTop {
  position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
	opacity: 0.90;
}

.navbar-center
{
   position: absolute;
   width: 100%;
   left: 30%;
   text-align: center;
   margin: auto;
}

.navbar li { color: #000 } 

#title {
  height: 100%;
}

